
.lpb-dialog {
  z-index: 700;
}
.lp-builder {
  min-height: 30px;
  position: relative;
  padding: 10px 0;
}
.js-lpb-region {
  min-height: 40px;
  cursor: default;
  box-sizing: border-box;
  position: relative;
}
.lpb-empty-container__wrapper {
  position: relative;
}
.lpb-empty-container {
  text-align: center;
}
.lpb-empty-toggle {
  min-height: 20px;
}
.lpb-empty-message {
  text-align: center;
  padding-bottom: 15px;
}
.lpb-empty-container__wrapper .lpb-section-menu__wrapper {
  bottom: 20px;
}
.is-dragging .js-lpb-region {
  outline: 1px dotted blue;
}
.is-dragging .t-reversed .js-lpb-region {
  outline: 1px dotted white;
}
.js-lpb-component {
  outline: 1px solid blue;
  outline-color: transparent;
  transition: all .15s linear;
  position: relative;
}
.js-lpb-component:hover,
.js-lpb-component:focus-within {
  outline: 1px solid blue;
}
.js-lpb-component {
  cursor: grab;
}
.js-lpb-component:hover .js-lpb-region,
.js-lpb-component:focus-within .js-lpb-region {
  outline: 1px dotted rgba(0, 0, 255, 0.5);
}
.js-lpb-component:hover .js-lpb-region:hover,
.js-lpb-component:focus-within .js-lpb-region:focus-within {
  outline: 1px solid rgba(0, 0, 255, 0.5);
}
.js-lpb-component:hover .js-lpb-active-item {
  outline: 1px solid blue !important;
}
.lpb-layout {
  padding: 20px;
}
.lpb-layout .lpb-layout-label {
  position: absolute;
  right: 0;
  border: 1px dotted #ccc;
  padding: 5px 10px;
  font-size: small;
}
.lpb-layout.lpb-active-item {
  outline: 3px solid #fff !important;
  box-shadow: 0 0 0 4px rgba(0, 0, 255, 1);
}
.js-lpb-btn--add {
  position: absolute;
}
.lpb-controls__wrapper {
  position: absolute;
  z-index: 95;
}
.lpb-controls {
  background-color: #fff;
  cursor: default;
  padding: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
  border-radius: 25px;
  display: flex;
  float: left;
  z-index: 10;
  position: absolute;
  left: 5px;
  top: 5px;
  opacity: 0;
}
.js-lpb-component:hover > .lpb-controls,
.js-lpb-component:focus-within > .lpb-controls {
  opacity: 1;
}
.lpb-controls a span {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-indent: -9999px;
}
.lpb-controls-label {
  line-height: 28px;
  padding: 0 5px 0 10px;
}
.lpb-up,
.lpb-down,
.lpb-edit,
.lpb-delete {
  cursor: pointer;
  height: 28px;
  width: 28px;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 50%;
  opacity: 1;
}
.lpb-up:hover,
.lpb-down:hover,
.lpb-edit:hover,
.lpb-delete:hover {
  opacity: 1;
  background-color: #eee;
  box-shadow: 0 0 1px rgba(0, 0, 0, 1);
}
.lpb-up:focus,
.lpb-down:focus,
.lpb-edit:focus,
.lpb-delete:focus {
  border-color: blue;
}
.lpb-up {
  background: url(../img/icon-up.png) 0 0 no-repeat;
  background-size: cover;
}
.lpb-down {
  background: url(../img/icon-down.png) 0 0 no-repeat;
  background-size: cover;
}
.lpb-down[tabindex="-1"]:hover,
.lpb-up[tabindex="-1"]:hover {
  background-color: transparent;
  box-shadow: none;
}
.lpb-down[tabindex="-1"],
.lpb-up[tabindex="-1"] {
  opacity: .3;
  cursor: default;
}
.lpb-edit {
  background: url(../img/icon-edit.png) 0 0 no-repeat;
  background-size: cover;
}
.lpb-delete {
  background: url(../img/icon-delete.png) 0 0 no-repeat;
  background-size: cover;
}
.lpb-btn {
  position: absolute;
  position: absolute;
  display: inline-block;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .15);
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 10px;
  transition: all .15s linear;
}
.lpb-btn.before {
  top: -17px;
}
.lpb-btn.after {
  bottom: -15px;
}
.js-lpb-component > .lpb-btn {
  opacity: 0;
}
.js-lpb-component:hover > .lpb-btn,
.js-lpb-component:focus-within > .lpb-btn {
  opacity: 1;
}
.lpb-btn--add {
  position: absolute;
  display: inline-block;
  border: 1px solid transparent;
  color: #333;
  font-weight: normal;
  line-height: 1;
  overflow: hidden;
  background: #fff;
  border-radius: 50%;
  background-size: cover;
  transition: all .15s linear;
  -webkit-appearance: none;
  padding: 5px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .15);
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  transition: all .15s linear;
  z-index: 1000;
}
.js-lpb-component .lpb-btn--add,
.js-lpb-region .lpb-btn--add {
  opacity: 0;
}
.lpb-btn--add:focus {
  border-color: blue;
}
.lpb-btn--add.center {
  top: 50%;
  transform: translate(-50%, -50%);
}
.lpb-btn--add.before {
  top: -15px;
  transform: translateX(-50%);
}
.lpb-btn--add.after {
  bottom: -18px;
}
.js-lpb-component:hover > .lpb-btn--add,
.js-lpb-component:focus-within > .lpb-btn--add {
  visibility: visible;
  opacity: 1;
}
.js-lpb-region:hover > .lpb-btn--add,
.js-lpb-region:focus-within > .lpb-btn--add {
  visibility: visible;
  opacity: 1;
}
.js-lpb-component + .lpb-btn--add {
  display: none;
}
.lpb-btn--add::before{
  content: " ";
  background:
    linear-gradient(#333,#333),
    linear-gradient(#333,#333),
    #fff;
  background-position:center;
  background-size: 50% 2px, 2px 50%;
  background-repeat:no-repeat;

  color: #333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: block;
  transition: all .15s linear;
}
.lpb-btn--add:hover::before {
  background-color: #eee;
  box-shadow: 0 0 1px rgba(0, 0, 0, 1);
}
.lpb-btn--add.active::before {
  transform: rotate(45deg);
  opacity: 1;
}
.gu-mirror {
  background: #fff;
  cursor: grabbing;
}
.lpb-confirm {
  font-size: .8em;
  position: relative;
}
.lpb-confirm-container {
  position: absolute;
  z-index: 99;
  left: 10px;
  top: 10px;
}
.lpb-confirm-wrapper {
  position: relative;
  position: inline-block;
  background: #FFF;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
  display: flex;
  flex-direction: row;
  color: #333;
}
.lpb-confirm__actions {
  margin-left: 10px;
}
.lpb-confirm__undo {
  text-decoration: none;
}

.loading span {
  background-image: none;
  opacity: 1;
  border: 3px solid #0074bd;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  box-sizing: border-box;
  animation: cssload-spin 575ms infinite linear;
  -o-animation: cssload-spin 575ms infinite linear;
  -webkit-animation: cssload-spin 575ms infinite linear;
  -moz-animation: cssload-spin 575ms infinite linear;
}

@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-spin {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-spin {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
