
.lpb-dialog {
  z-index: 700;
}
.lp-builder {
  min-height: 30px;
  position: relative;
  padding: 10px 0;
}
.lpb-region {
  min-height: 40px;
  cursor: default;
  box-sizing: border-box;
  position: relative;
}
.lpb-empty-container__wrapper {
  position: relative;
}
.lpb-empty-container {
  text-align: center;
}
.lpb-empty-toggle {
  min-height: 20px;
}
.lpb-empty-message {
  text-align: center;
  padding-bottom: 15px;
}
.lpb-empty-container__wrapper .lpb-section-menu__wrapper {
  bottom: 20px;
}
.is-dragging .lpb-region {
  outline: 1px dotted blue;
}
.is-dragging .t-reversed .lpb-region {
  outline: 1px dotted white;
}
.lpb-component {
  outline: 1px solid blue;
  outline-color: transparent;
  transition: all .15s linear;
  padding: 5px;
  position: relative;
}
.dragula-enabled .lpb-component {
  cursor: grab;
}
.lpb-component:hover .lpb-region {
  outline: 1px dotted rgba(0, 0, 255, 0.5);
}
.lpb-component:hover .lpb-region:hover {
  outline: 1px solid rgba(0, 0, 255, 0.5);
}
.lpb-active-item,
.lpb-active-item.lpb-region
.lpb-component:hover .js-lpb-active-item {
  outline: 1px solid blue !important;
}
.lpb-layout {
  padding: 20px;
}
.lpb-layout .lpb-layout-label {
  position: absolute;
  right: 0;
  border: 1px dotted #ccc;
  padding: 5px 10px;
  font-size: small;
}
.lpb-layout.lpb-active-item {
  outline: 3px solid #fff !important;
  box-shadow: 0 0 0 4px rgba(0, 0, 255, 1);
}
.js-lpb-btn--add {
  position: absolute;
}
.lpb-controls__wrapper {
  position: absolute;
  z-index: 95;
}
.lpb-controls {
  background-color: #fff;
  cursor: default;
  padding: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
  border-radius: 25px;
  display: flex;
  float: left;
  z-index: 10;
  position: absolute;
  left: 5px;
  top: 5px;
  opacity: 0;
}
.lpb-component:hover > .lpb-controls {
  opacity: 1;
}
.lpb-controls a span {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-indent: -9999px;
}
.lpb-controls-label {
  line-height: 28px;
  padding: 0 5px 0 10px;
}
.lpb-up,
.lpb-down,
.lpb-edit,
.lpb-delete {
  cursor: pointer;
  height: 28px;
  width: 28px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  opacity: 1;
}
.lpb-up:hover,
.lpb-down:hover,
.lpb-edit:hover,
.lpb-delete:hover {
  opacity: 1;
  background-color: #eee;
  box-shadow: 0 0 1px rgba(0, 0, 0, 1);
}
.lpb-up {
  background: url(../img/icon-up.png) 0 0 no-repeat;
  background-size: cover;
}
.lpb-down {
  background: url(../img/icon-down.png) 0 0 no-repeat;
  background-size: cover;
}
.lpb-down[disabled]:hover,
.lpb-up[disabled]:hover {
  background-color: transparent;
  box-shadow: none;
}
.lpb-down[disabled],
.lpb-up[disabled] {
  opacity: .3;
  cursor: default;
}
.lpb-edit {
  background: url(../img/icon-edit.png) 0 0 no-repeat;
  background-size: cover;
}
.lpb-delete {
  background: url(../img/icon-delete.png) 0 0 no-repeat;
  background-size: cover;
}
.lpb-region:hover {
  outline: 1px solid blue;
}
.lpb-component:hover {
  outline: 1px solid blue;
}
.lpb-btn {
  position: absolute;
  position: absolute;
  display: inline-block;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .15);
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 10px;
  opacity: 0;
  transition: all .15s linear;
}
.lpb-btn.before {
  top: -17px;
}
.lpb-btn.after {
  bottom: -15px;
}
.lpb-component:hover > .lpb-btn {
  opacity: 1;
}
.lpb-btn--add {
  position: absolute;
  display: inline-block;
  border: none;
  color: #333;
  font-weight: normal;
  line-height: 1;
  overflow: hidden;
  background: #fff;
  border-radius: 50%;
  background-size: cover;
  transition: all .15s linear;
  -webkit-appearance: none;
  padding: 5px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .15);
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  transition: all .15s linear;
  z-index: 1000;
  opacity: 0;
}
.lpb-btn--add.center {
  top: 50%;
  transform: translate(-50%, -50%);
}
.lpb-btn--add.before {
  top: -15px;
  transform: translateX(-50%);
}
.lpb-btn--add.after {
  bottom: -18px;
}
.lpb-component:hover > .lpb-btn--add {
  visibility: visible;
  opacity: 1;
}
.lpb-region:hover > .lpb-btn--add {
  visibility: visible;
  opacity: 1;
}
.lpb-component + .lpb-btn--add {
  display: none;
}
.lpb-btn--add::before{
  content: " ";
  background:
    linear-gradient(#333,#333),
    linear-gradient(#333,#333),
    #fff;
  background-position:center;
  background-size: 50% 2px, 2px 50%;
  background-repeat:no-repeat;

  color: #333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: block;
  transition: all .15s linear;
}
.lpb-btn--add:hover::before {
  background-color: #eee;
  box-shadow: 0 0 1px rgba(0, 0, 0, 1);
}
.lpb-btn--add.active::before {
  transform: rotate(45deg);
  opacity: 1;
}
.lpb-section-menu {
  position: relative;
  z-index: 10;
  left: 50%;
}
.lpb-section-menu__wrapper[data-placement="before"] {
  margin-top: -40px;
}
.lpb-section-menu__wrapper[data-placement="after"] {
  margin-top: 5px;
}
.lpb-section-menu__group {
  position: relative;
  left: -50%;
  display: flex;
  padding: 2px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .15);
}
.lpb-section-menu-button {
  display: flex;
  flex-direction: row;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .7em;
  font-weight: bold;
  border-radius: 10px;
  padding: 6px 10px;
}
.lpb-section-menu-button:hover {
  text-decoration: underline;
}
.lpb-section-menu-button img {
  height: 20px;
  width: auto;
  margin-right: 10px;
}
.lpb-component-menu__wrapper {
  position: absolute;
  width: 300px;
  z-index: 95;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
  border-radius: 15px;
}
.lpb-component-menu {
  padding: 20px;
}

.lpb-component-menu__wrapper.beneath::before {
  content: " ";
  width: 16px;
  height: 16px;
  display: block;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
  position: absolute;
  background: #fff;
  transform: rotate(45deg);
}
.lpb-component-menu__wrapper.above::after {
  content: " ";
  width: 16px;
  height: 16px;
  display: block;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
  position: absolute;
  background: #fff;
  transform: rotate(45deg);
}
.lpb-component-menu-search-input {
  width: 100%;
}
.lpb-component-menu__group {
  max-height: 280px;
  overflow-y: auto;
}
.lpb-component-menu__group--layout,
.lpb-component-menu__group--content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.lpb-component-menu__item {
  display: block;
  width: 33%;
  border: none;
  color: #0074bd;
  text-align: center;
  border-radius: 10px;
}
.lpb-component-menu__item a,
.lpb-component-menu__item a:not([class]) {
  color: #0074bd !important; /* @todo remove this */
  text-align: center;
  display: block;
  padding: 10px 0;
  margin: 10px;
  font-size: 14px;
}
.lpb-component-menu__item:hover {
  background: #eee;
}
.lpb-component-menu__item img {
  width: 24px;
  height: 24px;
}
.gu-mirror {
  background: #fff;
  cursor: grabbing;
}
.lpb-confirm {
  font-size: .8em;
  position: relative;
}
.lpb-confirm-container {
  position: absolute;
  z-index: 99;
  left: 10px;
  top: 10px;
}
.lpb-confirm-wrapper {
  position: relative;
  position: inline-block;
  background: #FFF;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
  display: flex;
  flex-direction: row;
  color: #333;
}
.lpb-confirm__actions {
  margin-left: 10px;
}
.lpb-confirm__undo {
  text-decoration: none;
}

.loading span {
  background-image: none;
  opacity: 1;
  border: 3px solid #0074bd;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  box-sizing: border-box;
  animation: cssload-spin 575ms infinite linear;
  -o-animation: cssload-spin 575ms infinite linear;
  -webkit-animation: cssload-spin 575ms infinite linear;
  -moz-animation: cssload-spin 575ms infinite linear;
}

@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-spin {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-spin {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
